/* Define variables CSS para colores y tamaños */
:root {
    --primary: #F4BD50; /* Color principal */
    --background: #191919; /* Color de fondo */
    --navbar-height: 48px; /* Altura de la barra de navegación */
}

/* Aplica un estilo general a todos los elementos */
* {
    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina relleno por defecto */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
    font-family: Poppins, sans-serif; /* Establece la fuente predeterminada */
}

/* Estilo para el fondo de la página */
.background {
    display: block; /* Se muestra como un bloque */
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    background-size: cover; /* La imagen de fondo cubre todo el contenedor */
    background-repeat: no-repeat; /* No repite la imagen de fondo */
}

/* Contenedor para el menú */
.menu__wrapper {
    display: flex; /* Usa flexbox para la disposición de los elementos */
    flex-direction: row; /* Elementos en fila */
    z-index: 2; /* Coloca el menú sobre el fondo */
}

/* Estilo para la barra de menú */
.menu__bar {
    position: fixed; /* La barra se mantiene fija en la parte superior de la página */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    display: flex; /* Usa flexbox */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    padding: 0 1rem; /* Relleno a los lados */
    background: var(--background); /* Color de fondo de la barra de menú */
    height: var(--navbar-height); /* Altura de la barra */
    opacity: 0.9; /* Opacidad de la barra */
}

/* Estilo para el ícono del menú */
.menu-icon {
    cursor: pointer; /* El cursor cambia a un puntero al pasar por encima */
    display: none; /* Oculta el ícono del menú por defecto */
    height: 2rem; /* Altura del ícono */
    width: 2rem; /* Ancho del ícono */
}

/* Estilo para la lista de navegación */
.navigation {
    display: flex; /* Usa flexbox */
    flex-direction: row; /* Elementos en fila */
    list-style-type: none; /* Elimina los puntos de la lista */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    gap: 1.5rem; /* Espacio entre los elementos */
}

/* Estilo para los enlaces dentro de los elementos de la lista */
.navigation>li>a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-weight: 500; /* Peso de la fuente */
    background-image: linear-gradient(to right, var(--primary), var(--primary) 50%, white 50%); /* Gradiente de color para el texto */
    background-size: 200% 100%; /* Tamaño del fondo */
    background-position: -100%; /* Posición inicial del fondo */
    display: inline-block; /* Se muestra como un bloque en línea */
    padding: 0.2rem 0; /* Relleno arriba y abajo */
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
    -webkit-background-clip: text; /* Clip del fondo para el texto en navegadores Webkit */
    -webkit-text-fill-color: transparent; /* Rellena el color del texto como transparente */
}

.navigation>li>a:hover {
    background-position: 0; /* Cambia la posición del fondo al pasar el cursor */
}

/* Media query para pantallas de menos de 600px de ancho */
@media (max-width: 600px) {
    .menu-icon {
        display: block; /* Muestra el ícono del menú */
    }

    .navigation {
        display: none; /* Oculta la lista de navegación */
    }

    .navigation--mobile {
        display: flex; /* Muestra la lista de navegación en modo móvil */
        flex-direction: column; /* Elementos en columna */
        align-items: flex-start; /* Alinea los elementos al inicio */
        position: absolute; /* Posición absoluta */
        top: var(--navbar-height); /* Posición desde la parte superior */
        right: 0; /* Posición desde la derecha */
        background-color: var(--background); /* Color de fondo */
        padding: 2rem; /* Relleno alrededor de los elementos */
        width: 100%; /* Ancho completo */
        height: calc(100vh - var(--navbar-height)); /* Altura de la navegación móvil */
    }
}
